<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="images/arista_logo.jpg">
    <script src="https://cdn.tailwindcss.com"></script>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>     
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Golos+Text&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>About Us</title>
  </head>
  
  <body>
     
    <!-----------------------------------------------------------------Navbar starts---------------------------------------------------------------- -->

    <div class="container mx-auto p-5">
      <div class="md:flex md:flex-row md:justify-between text-center text-sm sm:text-base">
        <div class="flex flex-row justify-center">
          <div class="rounded-lg">
              <a href="index.html">
                  <img
                    class="mx-auto w-48 hover:shadow-lg transition duration-300 ease-in-out"
                    src="images/arista_logo.jpg"
                    alt="logo"
                  />
              </a>
          </div>
          <a href="index.html">
              <h1 class="text-3xl hover:text-red-600 text-gray-600 mt-12 ml-14 hover:shadow-lg transition duration-300 ease-in-out">Arista Solutions</h1>
          </a>        
        </div>
    
        <div class="mt-14">
          <a href="index.html" class="text-gray-600 hover:text-red-600 p-4 px-3 sm:px-5 hover:shadow-lg transition duration-300 ease-in-out">Home</a>      
          <a href="/view_product" class="text-gray-600 hover:text-red-600 p-4 px-3 sm:px-5 hover:shadow-lg transition duration-300 ease-in-out">Products</a>
          <a href="/about" class="text-red-600 p-4 px-3 sm:px-5 shadow-lg transition duration-300 ease-in-out">About us</a>       
          <a href="contact.html" class="text-gray-600 hover:text-red-600 p-4 px-3 sm:px-5 hover:shadow-lg transition duration-300 ease-in-out">Contact us</a>        
        </div>
      </div>
    </div>  

<!-----------------------------------------------------------------Navbar ends---------------------------------------------------------------- -->

<!---------------------------------------------------------------------------------------------------------------->

<div class="container mb-11 bg-red-600 mx-auto shadow-xl" style="width: 30%; border-radius: 35px;" >
  <center><p class="" style="margin-left: 0px; font-family: 'Ubuntu', sans-serif; font-size: 55px; color: aliceblue;">About the Company</p></center>
</div>

<!---------------------------------------------------------------------------------------------------------------->

<!----------------------------------------------------------------------------------------------------------------->

<div class="container mt-8">
  <section class="bg-white dark:bg-gray-900">
    <div class="ml-32 mx-4 px-5 py-5 border border-solid border-gray-300  shadow-2xl" style="border-radius: 35px; width: 60%;">
        
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Providing safety to <span class="font-extrabold">60+</span> clients worldwide</h2>
            <p class="mb-4 mt-8 font-medium"><li> A major diversified, transnational integrated Company engaged in fire fighting and fire protection. <br> With the prime objective of safety, security, rescue and protection of life & property, coupled with international leadership and a strong environmental conscience.</li></p>
            <p class="mb-4 mt-7 font-medium"><li> We distribute products of the greatest quality & our motto is to provide the best possible <br> customer service & satisfaction with respect to products. </li></p>
            
        </div>

        <img class="mt-11" src="images/fire_prevention.gif" alt="Fire Prevention" style="margin-left:0px;">

        <a href="/view_product" class="inline-flex items-center font-bold text-blue-600 hover:text-red-600 dark:text-primary-500 dark:hover:text-primary-700" style="margin-left: 633px; font-size: 16px;" target="_blank">
          View our prouducts
          <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
    </div>

    <a href="index.html" target="_blank">
      <img class="shadow-xl hover:shadow-2xl" src="images/arista_logo.jpg" alt="Arista Logo" style="margin-left: 1150px; margin-top: -600px; margin-bottom: 350px; border-radius: 40px;" width="450px">
    </a>   
  </section>
</div>


<div class="container mt-24 ml-64 mb-24">
  <section class="bg-white dark:bg-gray-900">
    <div class="shadow-2xl gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-10 lg:px-6 border border-solid border-gray-300" style="border-radius: 35px;">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">"Putting safety first,<br><span class="ml-6">one customer at a time."</span></h2>
            <p class="mb-4 mt-12 font-medium">At our company, the quality of fire safety equipments is our top priority, and we assure our customers that we have implemented stringent measures and procedures  and maintained certain standards in order to distribute the best quality products which ensures their SAFETY in all aspects, and maintaining TRUST .</p>
            <p class="font-medium">All our products are manufactured conforming for relevant Indian and International Standards.</p>
        </div>
        
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-2xl border border-red-100" src="images/nation_safe.jpg" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="images/fire_block_2.jpg" alt="office content 2">
        </div>
        <a href="contact.html" class="inline-flex items-center font-bold text-blue-600 hover:text-red-600 dark:text-primary-500 dark:hover:text-primary-700" style="margin-left: 0px; margin-bottom: -25px; font-size: 18px;" target="_blank">
           Contact us
          <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
  </section>
</div>
  
  <!----------------------------------------------------------------------------------------------------------------->  

  <!-- PDF brochure list  -->
  



    <div class="container mx-auto mt-6 px-5 py-5 mb-6" style="border: 5px solid yellow; border-radius: 35px; width: 100%;">
    <p class="" style="margin-left: 535px; font-size: 35px; font-family: 'Oswald', sans-serif;"><u>PDF brochures for our products</u> :</p>
    <ol class="">
      <br>      

      <!-- Logic for pdf brochure list -->
      <div class="">
      <% pdfs.forEach(pdf => { %>
        <img src="images/brochure.png" class="" alt="" style="border: 4px solid red; border-radius: 15px;">
       
          <button class="mt-6 mb-6 font-bold py-2 px-4 bg-red-600 hover:bg-gray-100" style="border: 2px solid red; border-radius: 45px; margin-left: 75px;">
            <li class="mb-3" style="font-family: 'Rajdhani', sans-serif; font-size: 20px; color: white;"><a href="/pdf/<%= pdf.id %>">Download pdf</a></li>
          </button>
       
          <!-- <li class="mb-3" style="font-family: 'Rajdhani', sans-serif; font-size: 20px; color: #009FBD;"><a href="/pdf/<%= pdf.id %>"><%= pdf.name %></a></li> -->
      <% }) %>
      </div>

    </ol>
    </div>

    <!-- Newsletter Section -->
<div class="mt-5 p-14 rounded-3xl">
  <div class="rounded-lg shadow-lg flex flex-row">
    <div class="lg:w-3/5 w-full bg-gradient-to-r from-black to-purple-900 lg:from-black lg:via-purple-900 lg:to-transparent rounded-lg text-gray-100 p-12">
      <div class="lg:w-1/2">
        <h3 class="text-2xl font-extrabold mb-4">Subscribe to get our offers first</h3>
        <p class="mb-4 leading-relaxed">Want to hear from us when we have new offers? Sign up for our newsletter and we'll email you every time we have new sale offers.</p>
        <div>
        <form action="newsletter" method="post">
          <input type="email" id="email" name="email" placeholder="Enter email address" class="bg-slate-100 text-black placeholder-black px-4 py-3 w-full rounded-lg focus:outline-none mb-4" required/>
          <button type="submit" class="bg-gradient-to-r from-red-500 to-yellow-300 py-3 rounded-lg w-full">Subscribe</button>
        </form>
        </div>
      </div>
    </div>
    <div class="lg:w-2/5 w-full lg:flex lg:flex-row hidden">
      <img src="images/arista_logo.jpg" class="h-96" />
    </div>
  </div> 
  </div>
    
  </body>
</html>
