<!DOCTYPE html>
<html>

<head>
  <title>Product Catalogue</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">  

  <style>
    .product {
      display: flex;
      margin-bottom: 20px;
    }

    .product img {
      width: 500px;
      height: 500px;
      margin-right: 20px;
    }

    .product-info {
      display: flex;
      flex-direction: column;
    }

    .product-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .product-price {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .product-description {
      font-size: 16px;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
     <!-----------------------------------------------------------------Navbar starts---------------------------------------------------------------- -->

     <nav class="bg-gray-800">
      <div class="max-w-8xl mx-auto px-10 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a href="/" class="text-white font-bold text-3xl">Arista Solutions</a>
            </div>
            <div class="hidden md:block">
              <div class="ml-52 flex items-baseline">
                <a href="pdf.html" class="px-4 py-3 rounded-md text-md font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Upload PDF</a>
                <a href="/about" class="ml-4 px-4 py-3 rounded-md text-md font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" target="_blank">View Uploads</a>
                <a href="product.html" class="ml-4 px-4 py-3 rounded-md text-md font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Add Products</a>
                <a href="/product" class="ml-4 px-4 py-3 rounded-md text-md font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700" target="_blank">View Added Products</a>       
                <a href="login.html" class="ml-60 px-4 py-3 rounded-md text-md font-medium text-white hover:text-white bg-gray-600 focus:outline-none focus:text-white focus:bg-gray-700">
                  Admin
                </a>                       
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  
    <!-----------------------------------------------------------------Navbar ends---------------------------------------------------------------- -->

  <p class="mt-8 mx-12 mb-14" style="font-size: 35px; font-family: 'Oswald', sans-serif;"><u>Products Catalogue</u> :</p>

  <% for (let i = 0; i < products.length; i++) { %>
    <center>
    <div class="grid grid-flow-row grid-cols-1 md:grid-cols-3 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 ml-11 mt-6 mb-7">
      <div class="shadow-lg rounded-lg">        
          <img src="/image/<%= products[i].id %>" class="rounded-tl-lg rounded-tr-lg" />
        
        <div class="p-5">
          <h3 class="mb-7" style="font-size: 25px;"><a href="#"><%= products[i].name %></a></h3>

          <div class="flex flex-col xl:flex-row justify-between">
            <a class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-2 px-4 my-2 text-sm text-white hover:bg-pink-600 hover:from-pink-600 hover:to-pink-600 flex flex-row justify-center" href="cart.html">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
              Add to cart
            </a>
            <a class="bg-purple-600 rounded-full py-2 px-4 my-2 text-sm text-white hover:bg-purple-700 flex flex-row justify-center" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
              View Details
            </a>
          </div>
        </div>
      </div>
    </div>
    </center>
  <% } %>
</body>

</html>
