.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: black;
    border: 1px solid black;
    border-radius: 45px;
}